*, 
*::before, 
*::after {
	box-sizing: border-box;
}

:root {
	--clr-blue: #0065FC;
	--clr-light-blue: #DEEBFF;
	--clr-grey: #F2F2F2;
	--fw-light: 400;
	--fw-bold: 700;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: .1rem 2rem 2rem 2rem;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: .875rem; //14px
    font-weight: var(--fw-light);
}

header {
    padding: 1.15rem 0 1.15rem 0;
}

.logo {
    float: left;
    width: 6rem;
}

.nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
}

.nav2 {
    margin-right: 0;
}

.nav__list1, .nav__list2 {
    display: flex;
    padding: 0;
}

.nav__list-item {
      list-style: none;
      display: block;
}

.nav__link {
      text-decoration: none;
      color: black;
      padding: 2rem 1rem;
}

.nav__list2 .nav__link {
      margin-right: 1.35rem;
}

.nav__list2 .nav__link:hover {
      color: var(--clr-blue);
      border-top: 2px solid var(--clr-blue);
}

.nav__list1 .nav__link {
    font-weight: var(--fw-bold);
    color: var(--clr-blue);
}

.nav__list1 .nav__link:hover {
    text-decoration: underline;
}

