/* General Styles */
*, 
*::before, 
*::after {
	box-sizing: border-box;
}

:root {
	--clr-blue: #0065FC;
	--clr-light-blue: #DEEBFF;
	--clr-grey: #F2F2F2;
	--fw-light: 400;
	--fw-bold: 700;
}

body {
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem; 
    font-weight: var(--fw-light);
    max-width: 1500px;
    margin: auto;
}

h2 {
    font-size: 1.4rem; 
}

h4 {
    font-size: 1rem;
}

p {
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
}
/* End General Styles */

/* Navigation Desktop Styles */

header {
    padding: .15rem 0;
    margin: 1.55rem 1rem 0 1.5rem;
}

.logo {
    float: left;
    width: 6.5rem;
}

.nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
}

.nav__list1, .nav__list2 {
    display: flex;
    padding: 0;
}

.nav__list-item {
      list-style: none;
      display: block;
}

.nav__link {
      padding: 2.6rem 1rem;
}

.nav__list2 .nav__link {
      margin-right: 1.35rem;
}

.nav__list2 .nav__link:hover {
      color: var(--clr-blue);
      border-top: 2px solid var(--clr-blue);
      cursor: pointer;
}

.nav__list1 .nav__link {
    font-weight: var(--fw-bold);
    color: var(--clr-blue);
}

.nav__list1 .nav__link:hover {
    opacity: 50%;
    cursor: pointer;
}

@media (min-width: 850px) {
    header {
        margin-right: 2.5rem;
        margin-left: 2.5rem;
    }
}
/* End Navigation Desktop Styles */

/* Navigation Mobile */

@media (max-width:530px) {
    body {
        margin: 0;
    }

    header {
        margin-top: 1.25rem;
        margin-left: 0;
        margin-right: 0;
    }

    .logo {
        width: 6.5rem;
        margin-left: 1.5rem;
        padding-top: 0;
    }

    .nav {
        display: flex;
        flex-direction: row;
        display: block;
        text-align: right;
    }

    .nav__list1 {
        margin-right: .5rem;
        text-align: right;
        justify-content: flex-end;
    }

    .nav__list2 {
        justify-content: center;
        margin-top: 1.65rem;
        display: flex;
    }

    .nav__list2 .nav__list-item {
        height: 40px;
        flex:1;
        text-align: center;
        padding: 1rem 0;
    }

    .nav__list2 .nav__link {
        margin-right: 0;
        border-bottom: 3.5px solid var(--clr-grey);
        display: inline-block;
        padding: 0 0 15px 0;
        width: 100%;
    }

    .nav__list2 .nav__link:hover {
        color: var(--clr-blue);
        border-top: none;
        border-bottom: 3.5px solid var(--clr-blue);
        cursor: pointer;
  }

    }
/* End Navigation Mobile */

/* Search Section Mobile */

.search {
    padding-top: 0;
    margin: 1.5rem 1.5rem 2rem 1.5rem;
}

.search__title {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: .5rem;
}

.search__description {
    margin-top: .8rem;
    margin-bottom: 2.25rem;
}

.search__bar {
    display: flex;
    width: 100%;
    height: 50px;
    place-items: center;
    border: 1px solid var(--clr-grey);
    border-radius: 15px;
    margin-bottom: 2rem;
}

.icon__location {
    background-color: var(--clr-grey);
    height: 100%;
    width: 60px;
    text-align: center;
    line-height: 50px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.icon__search {
    background-color: var(--clr-blue);
    height: 100%;
    width: 60px;
    color: white;
    text-align: center;
    line-height: 50px;
    border-radius: 15px;  
}

.icon__search i:hover {
    opacity: 50%;
    cursor: pointer;
}

.search__field {
    width: calc(100% - 60px);
    height: 100%;
    text-align: left;
    line-height: 50px;
}

.search__field input {
    width: 100%;
    height: 100%;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    margin:0;
    padding-left: 18px;
    padding-right: 18px;
    font-size: 1.2rem;
    font-weight: var(--fw-bold);
    border:none;
}

::placeholder {
    color: black;
}

.search__hide {
    display: none;
}
/* End Search Section Mobile */

/* Search Section Desktop */
@media (min-width: 530px) {
    .search__bar {
        width: 300px;
    }

    .search__title {
        margin-top: 1.75rem;
        padding-top: 0;
    }

    .search__description {
        margin-bottom: 1.5rem;
    }
}

@media (min-width: 660px) {
    .search__bar {
        width: 430px;
    }

    .search__field {
        width: calc(100% - 160px);
    }

    .icon__search {
        width: 160px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .icon__search i {
        display: none;
    }

    .search__hide {
        display: contents;
    }

    .icon__search:hover {
        color: rgba(255,255,255,.5);
        cursor: pointer;
    }

    .icon__location {
        width: 55px;
    }
}

@media (min-width: 850px) {
    .search {
        margin-right: 2.5rem;
        margin-left: 2.5rem;
    }
}
/* End Search Section Desktop */

/* Filter Section Mobile */
.filter {
    margin: 0 1.5rem 1.75rem 1.5rem;
}

.filter__title {
    margin-bottom: 1rem;
}

.filter__items {
    margin-top: 0rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.filter__item {
    display: flex;
    height: 50px;
    place-items: center;
    border: 2px solid rgba(0,0,0,.15);
    border-radius: 25px;
    margin-bottom: .75rem;
    margin-right: .65rem;
    position: relative;
}

.filter__item:last-of-type {
    margin-right: 0;
}

.filter__item:hover {
    border: 2px solid var(--clr-blue);
    cursor: pointer;
}

.icon__money, .icon__person, .icon__heart, .icon__dog {
    background-color: var(--clr-light-blue);
    border-radius: 50%;
    height: 110%;
    width: 50px;
    line-height: 50px;
    text-align: center;
    color: var(--clr-blue);
    font-size: 1.25rem;
    z-index: 1;
    position:absolute;
    left: -2px;
    top: -2px;
    bottom: 2px;
}

.filter__item-description {
    text-align: right;
    padding-left: 55px;
    padding-right: 10px;
    font-size: .95rem;
    font-weight: var(--fw-bold);
}

.filter__description {
    display: flex;
    align-items: flex-start;
    margin-top: 1.65rem;
}

.icon__info {
    color: var(--clr-blue);
    padding: 3px 8px;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 50%;
    font-size: .85rem;
}

.filter__text {
    padding-left: 10px;
    font-size: .99rem;
    margin-top: 0;
    margin-bottom: .75rem;
}
/* End Filter Section Mobile */

/* Filter Section Desktop */

@media (min-width: 850px) {
    .filter {
        margin-right: 2.5rem;
        margin-left: 2.5rem;
    }

    .filter__item {
        margin-right: 1.25rem;
    }
}

@media (min-width: 960px) {
   .filter__title-and-items {
       display: flex;
       place-items: center;
       padding-top: 0;
       padding-bottom: 0;
   }

   .filter__title {
       padding-right: 25px;
       line-height: 50px;
       margin-top: 0;
   }
}

@media (min-width: 1000px) {
    .filter__item-description {
        padding-left: 62px;
        padding-right: 20px;
        font-size: 1.05rem;
    }
}
/* End Filter Section Desktop */

/* Popular Section Mobile */
.popular {
    background-color: var(--clr-grey);
}

.popular__content {
    padding: 2.5rem 1.5rem;
}

.popular__heading {
    display: flex;
    place-items: center;
}

.popular__title {
    margin-top: 0;
    margin-bottom: 0;
    width: calc(100% - 1.4rem);
}

.icon__chart {
   font-size: 1.4rem; 
}

.popular__items {
    margin-top: 1.5rem;
}

.popular__item {
    background-color: white;
    margin-bottom: .85rem;
    padding: 5px;
    box-shadow: 2px 1px 10px rgba(0,0,0,.2);
    border-radius: 20px;
    width: 100%;
    display: flex;
}

.popular__item:hover {
    border: 2px solid var(--clr-blue);
    border-radius: 22px;
    cursor: pointer;
}

.popular__text-and-stars {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 10px;
}

.popular__image {
    width: 40%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin: 0;
    padding: 0;
}

.popular__text {
    word-wrap: wrap;
}

.popular__hotel {
    margin: 0;
    padding-top: 15px;
}

.popular__description {
    margin: 0; 
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: .875rem;
}

.popular__stars {
    font-size: .7rem;
    color: var(--clr-blue);
    padding-bottom: 10px;
}

.popular__stars2 .star5, .popular__stars3 .star5 {
    color: rgba(0,0,0,.15);
}
/* End Popular Section Mobile */

/* Popular Section Desktop */
@media (min-width: 530px) {
    .popular {
        border-radius: 20px;
        margin: 0 1.5rem;
    }

    .popular__content {
        padding: 2.5rem 2rem;
    }
}

@media (min-width: 850px) {
    .popular {
        margin-right: 2.5rem;
        margin-left: 2.5rem;
    }
}

@media (min-width: 960px) {
    .popular-and-current {
        display: flex;
        flex-direction: row-reverse;
        padding-right: 2.5rem;
        padding-left: 2.5rem;
    }

    .popular {
        min-width: 345px; 
        margin-left: 0;
        margin-right: 0;
    }

    .popular__item {
        margin-bottom: 1.5rem;
    }

    .popular__item:last-of-type {
        margin-bottom: 0;
    }
}

@media (min-width: 1200px) {
    .popular {
        min-width: 360px; 
    }
}
/* End Popular Section Desktop */

/* Current Search Mobile */
.current__content {
    padding: 2.5rem 1.5rem 1.5rem 1.5rem;
}

.current__title {
    margin-top: 0;
    margin-bottom: 0;
}

.current__items {
    margin-top: 1.5rem;
}

.current__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    margin-bottom: .85rem;
    padding: 5px;
    box-shadow: 2px 1px 10px rgba(0,0,0,.2);
    border-radius: 20px;
    width: 100%;
}

.current__item:hover {
    border: 2px solid var(--clr-blue);
    border-radius: 22px;
    cursor: pointer;
}

.current__image {
    aspect-ratio: 3 / 1;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 0;
    padding: 0;
}

.current__text {
    padding-left: 10px;
    word-wrap: wrap;
}

.current__hotel {
    margin:0;
    padding-top: 8px;
}

.current__description {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 8px;
    font-size: .875rem;
}

.current__stars {
    font-size: .7rem;
    color: var(--clr-blue);
    padding-left: 10px;
    padding-bottom: 5px;
}

.current__stars1 .star5, 
.current__stars3 .star5,
.current__stars4 .star5,
.current__stars5 .star5 {
    color: rgba(0,0,0,.15);
} 

.current__stars4 .star4 {
    color: rgba(0,0,0,.15);
}

.current__more {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 1.75rem;
}

.current__more:hover {
    color: var(--clr-blue);
    cursor: pointer;
}
/* End Current Search Mobile */

/* Current Search Desktop */
@media (min-width: 530px) {
    .current {
        background-color: var(--clr-grey);
        margin: 1.5rem 1.5rem 0 1.5rem;
        border-radius: 20px;
    }

    .current__content {
        padding: 2.5rem 2rem;
    }

    .current__image {
        object-position: 30% 70%;
    }
}

@media (min-width: 660px) {
    .current__items {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
    }
    
    .current__item {
        width: calc(50% - 13px);
        margin-bottom: 0;
    }
}

@media (min-width: 850px) {
    .current {
        margin-right: 2.5rem;
        margin-left: 2.5rem;
    }
}

@media (min-width: 960px) {
    .current {
        margin-top: 0;
        margin-left: 0;
    }

    .current__image {
        aspect-ratio: 2 / 1;
    }
}

@media (min-width: 1050px) {
    .current {
        margin-right: 2rem;
    }

    .current__item {
        width: calc(33% - 15px);
    }

    .current__more {
        padding-top: 2.5rem;
    }
}
/* End Current Search Desktop */

/* Activities Section Mobile */
.activity {
    margin:0;
    padding: 2rem 1.5rem 1.75rem 1.5rem;
}

.activity__title {
    margin: 0;
}

.activity__items {
    margin-top: 1.5rem;
}

.activity__item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 1.5rem;
    box-shadow: 2px 1px 10px rgba(0,0,0,.2);
    border-radius: 20px;
    width: 100%;
}

.activity__item:hover {
    border: 2px solid var(--clr-blue);
    border-radius: 22px;
    cursor: pointer;
}

.activity__image {
    height: 100%;
    aspect-ratio: 2.75 / 1;
    width: 100%;
    object-fit: cover;
    object-position: 75% 25%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 0;
    padding: 0;
}

.activity__item2 .activity__image {
    object-position: 56% 44%;
}

.activity__item3 .activity__image {
    object-position: 70% 30%;
}

.activity__item5 .activity__image {
    object-position: 85% 15%;
}

.activity__text {
    margin: 0;
    padding: 20px;
}
/* End Activities Section Mobile */

/* Activities Section Desktop */
@media (min-width: 530px) {
    .activity {
        padding-top: 2.5rem;
        margin-top: 1rem;
        }

    .activity__item1 .activity__image,
    .activity__item2 .activity__image, 
    .activity__item3 .activity__image,
    .activity__item4 .activity__image {
        object-position: 50% 50%;
    }

    .activity__item6 .activity__image {
        object-position: 55% 45%;
    }
}

@media (min-width: 660px) {
    .activity__items {
        display: flex;
        flex-wrap: wrap;
        gap: 0 25px;
    }
    
    .activity__item {
        width: calc(50% - 13px);
    }
}

@media (min-width: 850px) {
    .activity {
        padding-right: 2.5rem;
        padding-left: 2.5rem;
    }

    .activity__item6 .activity__image {
        object-position: 55% 45%;
    }
}

@media (min-width: 1050px) {
    .activity {
        margin-top: 1rem;
    }

    .activity__items {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(4, calc(25% - 22.5px)); /*90px of gap divided by 4*/
        grid-template-rows: repeat(2, 55px) repeat(2, 25px) repeat(2, 55px);
        grid-gap: 30px;
        margin-bottom: 1.5rem;
    }

    .activity__item {
        width: 100%;
        margin: 0;
    }

    .activity__image {
       height: calc(100% - 60px);
    }

    .activity__text {
        height: 60px;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .activity__item1 {
        grid-column: 1/2;
        grid-row: 1/7;
    }

    .activity__item2 {
        grid-column: 2/3;
        grid-row: 1/5;
    }

    .activity__item3 {
        grid-column: 2/3;
        grid-row: 5/7;
    }

    .activity__item4 {
        grid-column: 3/4;
        grid-row: 1/7;
    }

    .activity__item5 {
        grid-column: 4/5;
        grid-row: 1/4;
    }

    .activity__item6 {
        grid-column: 4/5;
        grid-row: 4/7;
    }

    .activity__item2 .activity__image {
        object-position: 60% 40%;
    }

    .activity__item3 .activity__image {
        object-position: 70% 30%;
    }

    .activity__item4 .activity__image {
        object-position: 35% 65%;
    }

    .activity__item6 .activity__image {
        object-position: 75% 25%;
    }
}

@media (min-width: 1450px) {
    .activity__item2 .activity__image {
        object-position: 50% 50%;
    }
}
/* End Activities Section Desktop */

/* Footer Section Mobile */
.footer {
    background-color: var(--clr-grey);
    padding: 2.5rem 1.5rem 2.5rem 1.5rem;
    text-align: left;
}

.footer__section {
    margin-bottom: 2.5rem;
}

.footer__section:last-of-type {
    margin-bottom: 0;
}

.footer__title {
    margin: 0;
    margin-bottom: 1.25rem;
}

.footer__text {
    margin:0;
    margin-bottom: .65rem;
    display: block;
    text-decoration: none;
    color: black;
    font-size: .95rem;
}

.footer__text:hover {
    color: var(--clr-blue);
    cursor: pointer;
}
/* End Footer Section Mobile */

/* Footer Section Desktop */
@media (min-width: 850px) {
    .footer {
        display: flex;
        padding-right: 2.5rem;
        padding-left: 2.5rem;
    }

    .footer__section {
        margin-right: 90px;
        margin-bottom: 0;
    }
}

@media (min-width: 1250px) {
    .footer__section {
        margin-right: 200px;
    }
}

/* End Footer Section Desktop */
